In [1]:
# Description: Predict price of bitcoin "n"(30) days into the future

In [2]:
#Import the libraries
import pandas as pd
import numpy as np

In [3]:
# Load the data
df = pd.read_csv('Dataset/Bitcoin.csv')

In [4]:
# Show first 10 rows of data
df.head(10)

,Timestamp,Open,High,Low,Close,Volume (BTC),Volume (Currency),Weighted Price,FTimestamp
0,20/12/2015,461.89,462.00,433.83,442.54,16626.49,7430072.73,446.88,42358
1,21/12/2015,442.47,450.00,425.52,438.07,18930.86,8257540.79,436.19,42359
2,22/12/2015,438.14,443.58,433.06,435.48,8146.02,3563201.25,437.42,42360
3,23/12/2015,435.65,445.52,434.43,442.56,7100.23,3125137.43,440.15,42361
4,24/12/2015,443.01,459.54,443.01,455.00,10138.32,4598655.92,453.59,42362
5,25/12/2015,455.78,458.33,448.00,455.51,2877.17,1304947.59,453.55,42363
6,26/12/2015,455.50,457.45,407.25,417.39,26672.12,11386692.92,426.91,42364
7,27/12/2015,417.11,425.42,410.50,421.76,6968.57,2921475.22,419.24,42365
8,28/12/2015,421.78,429.86,417.01,421.46,7560.56,3204101.79,423.79,42366
9,29/12/2015,420.81,433.33,418.55,431.82,10419.59,4444308.02,426.53,42367

In [5]:
#Remove the Timestamp column
df.drop(['Timestamp'],1,inplace=True)

In [6]:
# Show first 7 rows of data for new data
df.head(7)

,Open,High,Low,Close,Volume (BTC),Volume (Currency),Weighted Price,FTimestamp
0,461.89,462.00,433.83,442.54,16626.49,7430072.73,446.88,42358
1,442.47,450.00,425.52,438.07,18930.86,8257540.79,436.19,42359
2,438.14,443.58,433.06,435.48,8146.02,3563201.25,437.42,42360
3,435.65,445.52,434.43,442.56,7100.23,3125137.43,440.15,42361
4,443.01,459.54,443.01,455.00,10138.32,4598655.92,453.59,42362
5,455.78,458.33,448.00,455.51,2877.17,1304947.59,453.55,42363
6,455.50,457.45,407.25,417.39,26672.12,11386692.92,426.91,42364

In [7]:
# Create a variable for predicting 'n' days into the future
prediction_days = 30 #n = prediction_days = 30

# Create another column for target/dependent variable shifted up
df['Prediction'] = df[['Close']].shift(-prediction_days)

In [8]:
#Remove other columns
df.drop(['High'],1,inplace=True)
df.drop(['Low'],1,inplace=True)
df.drop(['Open'],1,inplace=True)
df.drop(['Volume (BTC)'],1,inplace=True)
df.drop(['Volume (Currency)'],1,inplace=True)
df.drop(['Weighted Price'],1,inplace=True)
df.drop(['FTimestamp'],1,inplace=True)

# Show first 7 rows of the new dataset 
df.head(7)

    Close  Prediction
0  442.54      376.76
1  438.07      416.32
2  435.48      409.59
3  442.56      382.55
4  455.00      386.40
5  455.51      402.16
6  417.39      390.90

In [9]:
#Show last 7 rows of the new dataset
df.tail(7)

        Close  Prediction
1453  7188.42         NaN
1454  7257.47         NaN
1455  7059.03         NaN
1456  7115.08         NaN
1457  6882.19         NaN
1458  6612.30         NaN
1459  6675.00         NaN

In [10]:
#Create the independent dataset
#Convert the df to a numpy array
X = np.array(df.drop(['Prediction'], 1))

#Remove the last 'n' rows, where n = prediction_days
X = X[:len(df)-prediction_days]

print(X)

[[ 442.54]
 [ 438.07]
 [ 435.48]
 ...
 [8484.63]
 [8499.31]
 [8170.65]]

In [11]:
#Create the dependent dataset
#Convert the df(dataframe) to a numpy array

y = np.array(df['Prediction'])

#Get all the values except the las 'n' rows of the Prediction column
y = y[:-prediction_days]
print(y)

[ 376.76  416.32  409.59 ... 6882.19 6612.3  6675.  ]

In [12]:
#Split the data into 80% training and 20% training
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [13]:
# Set the prediction_day_array to the last 30 rows from the original dataset
Prediction_days_array = np.array(df.drop(['Prediction'], 1))[-prediction_days:]
print(Prediction_days_array)

[[8121.63]
 [8088.44]
 [7611.51]
 [7285.85]
 [7320.39]
 [6908.36]
 [7122.14]
 [7159.22]
 [7527.84]
 [7436.72]
 [7753.69]
 [7550.67]
 [7412.66]
 [7309.64]
 [7300.43]
 [7197.78]
 [7390.42]
 [7541.79]
 [7502.65]
 [7524.26]
 [7340.52]
 [7216.07]
 [7207.42]
 [7188.42]
 [7257.47]
 [7059.03]
 [7115.08]
 [6882.19]
 [6612.3 ]
 [6675.  ]]

In [14]:
# Lets do some machine learning

from sklearn.svm import SVR

#create and train the Support Vector Machine (Regression) using radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)

# Train our model
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [15]:
# Test the model
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("SVR_rbf_accuracy:", svr_rbf_confidence*100)

SVR_rbf_accuracy: 81.78693075233015

In [16]:
#Predict the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

#Print an new line and print actual values
print('\n')

print(y_test)

[ 3428.63172361  7961.15247992   442.57500893   724.90132396
   894.99142423  9097.95087932  8266.69151877  6121.99015764
  6730.27659883  8878.70738708  9222.92257678  7765.1112952
   427.13044366  7497.71564444   424.40372371  8888.46063374
  7889.72557641  1147.34788409  6577.5330208   2717.48786128
   726.41194852  8438.26355706  6472.98614761   433.29692555
   686.75863754  3884.28861046  6266.05724276   637.44691547
  2905.56926918   693.37703393  8941.45902374  7586.29421094
   832.40664653  1181.76108258   431.88356281  8015.46174792
  6561.55237501   611.80435731   801.12484156  7805.48355162
  4335.0291695   6339.7824438   8244.34696786   423.14333111
  2638.07755911  2905.01992279 10324.91959932  9222.62793763
  7927.62934047  8932.48396954  6156.09649711  8886.91514796
  1200.63279564  7017.9262992   6461.04649333  7848.86893662
  1891.94381948  3863.27905061  5138.54545251  6506.71537925
   626.0826987    463.49019775   441.34629249  3187.2472662
  3890.96724126 10330.76593714 10168.08090223  4305.59667775
  1109.83909944  6253.4911517   6587.280672    7967.36138101
  2834.05896595  5162.06288446  8014.26173808  7594.887432
  8924.10189708  6108.39892667  1197.68837484 10451.5672854
   427.46818715  8740.74586269  1915.2041737   3854.62830143
  9910.32715144   650.91310321  8879.25218234  7818.39434839
   703.86529005   432.49311773  8992.76510443   745.52655592
  1179.84601883  4886.74873746  7508.13775355   615.05942361
  7646.4259239   1207.9740072   5050.46302366  3288.99046609
  6751.23830082  5078.56620633   750.32157484  8778.38968219
  2804.32209845  9122.92381016  3824.37318439   450.74445123
   424.18359263 10189.46788498  8127.36916645   657.75818787
 10126.61777922  2739.22018889  3820.91394394   657.4120934
  8409.74046333  6464.17852974  6450.77518502   628.49511673
  5100.84946066  1762.87453787  1515.83793157  6314.21957353
   453.4025506   3855.48380855  2946.1021741   6208.03056575
  7498.49968461   776.50923843  7499.97580363   437.21887826
  4208.35333255   604.26215817  4349.68147063   567.58659082
  9075.44654314  4686.96967023  2712.81019999  3838.0291293
  8269.65425425  6242.61255906  7023.50635801  9005.91130529
   859.28804201   748.16287424  7981.86951313   606.6220647
  7434.41978798  4348.68129319  3842.92284572 10115.73588306
  9281.1787214   1205.51410343  6097.49266177  6503.19956636
   447.12310522 10399.36390719   430.73245982  4310.7500427
  3740.91726569   432.44850889  4076.51154889   664.50532856
   423.96240702   748.44211616  5060.09435357  2858.65117766
  1557.42303903  5171.43229109   674.28645089  9749.72415988
  8526.16163276  7752.60668703  4623.81157909  4417.92214273
   651.18182808  1607.50986545   425.10947219  8914.48471603
   642.67364359  9260.5839428   5115.72211774  6780.30918098
  4389.04978443  3857.47557744   434.84084963  7944.7138488
  1267.59376332   738.22251518  5852.59913387 10100.83643996
  1094.50908553  8437.81677619  4289.20551798   424.72864493
  8734.46983427  7121.09710963  3843.92248238  4602.74436911
   441.19113851  6123.45126273  8464.58773269  4436.26815858
   651.98791287   697.94475011   640.67835281  9586.43313228
  4022.37082467  5141.98521028  9570.06692307  5137.77092541
  8091.00363275  8441.2363956   7788.878513    1115.1914489
  4904.90054023   422.39348068   425.34576928  8700.08812488
  6204.48796513  7442.20076487  1401.29825369  1874.97516535
   449.99621983  1160.39647322   438.07732048  6275.50608697
  1186.31430788   425.5391078   8381.85112666  8143.27127677
   644.45067576   844.33384532  6474.93916077  7774.50654577
  6245.01977026   447.9528467   8928.36929495  7180.03799023
  7626.63904713   719.50496959  7187.5922932    871.08964674
   423.44345486  4882.22488413  6969.00470305   931.10037669
  9639.55499615  4138.56370646 10136.26484373   423.8600885
  4192.38517158  6156.55371802  2737.1026721   6110.95810952
   435.52219128   424.10496652   860.06798981  6107.35907941
   612.25233533   431.98649123  8281.60178958  8379.13819165
  3822.16518298  1203.15382721  1105.88659828  9208.63333869
  7439.77159316   437.42235501  1378.0541408    427.69635033
  8043.96118693   643.77514852  7769.15291558  8686.64233143
   613.75005032  1116.44952015  9203.30157377   695.1013239
  7633.03016409   606.77488555  3941.22926992   609.75618278
   456.37406462   639.92102772]


[ 4734.26  5940.89   624.91   729.91   831.81 13781.41  7347.39  6185.15
  6393.41 10723.76  8921.43  7986.     423.51  7335.99   460.82  9557.08
  7216.07   919.99  6204.24  2777.01   727.32  8149.66  5848.33   371.81
   575.71  4605.8   4220.16   628.89  2559.9    653.48  8920.79  6571.2
   672.1   1071.02   415.95  7361.    6349.99   599.33   832.75  8218.07
  7372.72  6710.01  7960.49   421.03  2742.37  2557.66  6771.69 12286.14
  8547.2   8248.87  6393.53  7890.87   969.4   6236.04 15800.   16124.02
  1143.    4978.23  5582.05  6405.57   603.48   448.7    761.44  2501.46
  4040.71 10586.26 10449.4   3515.95  1124.62  6332.34 11677.    9345.11
  3263.62  3617.05 10872.    7785.94  6307.4   6349.3   1233.2   8899.
   455.57  6904.51  1134.58  3807.05  8152.07   709.93  7059.03  9711.78
   572.91   414.66  9207.     775.35  1260.    7148.    7309.64   598.98
  6940.94  1287.99  3531.51  4921.7   7719.62  5027.31   777.09  7984.08
  2424.91  8696.58  3859.74   413.     447.7  10566.3   8214.69   613.06
 10384.48  3645.06  3897.92   616.    8362.99  7320.39  6421.76   615.16
  5281.58  1212.17  1043.99  6437.29   695.    3789.52  2226.    6400.
  9913.03   769.57  3496.73   417.62  4136.32   607.46  4184.84   702.48
 14470.07  3982.52  4306.23  3888.46  8391.76  6183.    5685.46  8025.9
   909.75   776.9   6681.62   605.69  3179.54  3664.22  3869.8  11233.41
  6718.33  1243.61  4102.05 16404.99   527.64  9495.39   399.28  3576.93
  4599.9    406.23  3570.73   727.09   462.33   606.35  5318.42  3342.99
  1554.01  3431.39   711.06 10314.9   8187.72  8199.19  5698.69  6119.99
   614.88  1958.     451.62  6908.36   639.    8499.31  3910.51  6493.09
  3888.03  3798.47   409.59  6579.38  1390.86   664.6   5385.   10407.71
  1052.48  6525.01  6741.59   415.17  9304.75  9696.57  3605.91  3533.23
   382.55  3398.8   7703.67  5063.63   721.5    661.47   684.71 10617.61
  4573.2   4101.6  10986.96  3823.44  8237.74  6756.58 11247.57  1241.99
  3576.81   422.71   432.    7188.42  6350.43  6596.53  1537.23  2292.53
   443.31  1285.33   431.07  6412.86  1273.     458.48  8861.    8717.99
   610.25   673.48  6153.4  11250.    6476.51   519.41  8920.71 10222.12
  8064.64   563.42  9066.9    818.27   418.75  3779.99  6500.    1012.4
 11983.43  4012.23 11470.     451.    4096.08  3971.06  2598.    3785.65
   754.83   390.9    997.75  3834.34   595.01   379.75  7854.12 18940.57
  3625.6   1009.17  1226.39  6732.4   7846.96   416.64  1514.9    423.78
 11155.54   634.02  7492.28 10577.43   638.19   914.83  8481.6    583.52
  7771.03   612.98  4312.     680.35   517.84   608.49]

In [17]:
# Print prediction for next 'n' days, where n = 30

svm_prediction = svr_rbf.predict(Prediction_days_array)
print(svm_prediction)

# Print new line and actual values of the last 30days
print('\n')

print(df.tail(prediction_days))

[9076.5910763  9157.96172468 7082.80824242 6994.38330476 6807.78990629
 7665.68091993 7872.05075491 7717.81468876 6618.02240901 6463.26963483
 8240.33241484 6717.34751168 6488.5473067  6863.14942349 6912.67225981
 7515.66459268 6535.19480171 6676.02116556 6535.66069182 6604.53783225
 6712.45036153 7409.95255262 7460.50728685 7567.74010232 7161.50029669
 8010.23673366 7895.81782624 7538.54421225 6509.80387264 6652.36700678]


        Close  Prediction
1430  8121.63         NaN
1431  8088.44         NaN
1432  7611.51         NaN
1433  7285.85         NaN
1434  7320.39         NaN
1435  6908.36         NaN
1436  7122.14         NaN
1437  7159.22         NaN
1438  7527.84         NaN
1439  7436.72         NaN
1440  7753.69         NaN
1441  7550.67         NaN
1442  7412.66         NaN
1443  7309.64         NaN
1444  7300.43         NaN
1445  7197.78         NaN
1446  7390.42         NaN
1447  7541.79         NaN
1448  7502.65         NaN
1449  7524.26         NaN
1450  7340.52         NaN
1451  7216.07         NaN
1452  7207.42         NaN
1453  7188.42         NaN
1454  7257.47         NaN
1455  7059.03         NaN
1456  7115.08         NaN
1457  6882.19         NaN
1458  6612.30         NaN
1459  6675.00         NaN